**/.gitignore
**/.gitkeep
**/node_modules
**/.DS_Store
**/*:Zone.Identifier

application/resources/js
application/resources/css
application/.eslintcache
application/.eslintrc.js
application/.eslintrc
application/.eslintignore
application/.babelrc
application/.browserslistrc
application/.stylelintignore
application/.stylelintrc.js
application/.stylelintrc
application/.npmrc
application/.nvmrc
application/vite.config.js
application/package-lock.json
application/package.json
application/pint.json
application/.phpunit.result.cache
application/.phpunit.cache

application/storage/app/*
application/storage/framework/cache/*
application/storage/framework/sessions/*
application/storage/framework/views/*
application/storage/logs/*
